@model MvcFlight.Models.Flight

@{
    ViewData["Title"] = "Flight Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airline)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airline)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Departs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Departs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Airport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Airport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FlightNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FlightNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tickets)
        </dt>
        <dd class = "col-sm-10">
            @if (Model.Tickets.Any()) {
                @foreach (var ticket in Model.Tickets.ToList())
                {
                    <div>
                        @Html.Raw($"Seat: {ticket.Seat} for ${ticket.Price}")
                    </div>
                }
            }
            else{
                <div>
                    No Tickets
                </div>
            }
        </dd>
        <a asp-action="NewTicket" asp-controller="Tickets" asp-route-id="@Model?.Id">Add Ticket</a>
    </dl>
</div>
@* Include a link here redirect to a new page to create a Ticket *@
@* Referencing David Stovell's Add Child Records to Parent YT video: https://youtu.be/qP-KNZqAdqo?si=P7J4gP4tEBTdYVdI *@
@* @Html.ActionLink("Add Ticket", "NewTicket", "Flights", new { id = Model.Id}, null) *@
<br/>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
